main {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    font-weight: bold;
    font-size: 18px;
  }
  h2 {
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 16px;

    li {
      position: relative;
      padding-left: 1em;

      &::before {
        content: '';
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 0.4em;
        height: 0.4em;
        background-color: var(--color-text);
        border-radius: 50%;
      }
    }
  }

  .text {
    line-height: 1.6;
  }

  .info {
    border: 1px solid var(--color-border);
    border-radius: 16px;
    padding: 8px;
    font-size: 15px;
  }
}

.top-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .card {
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
}

.service-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 0 16px 0;

  .name {
    font-size: 16px;
    font-weight: bold;
  }
  .subtitle {
    font-size: 13px;
    color: var(--color-text-subtle);
  }
}
